body {
  margin: 0;
  background-color: #051f28;
  color: white;
  max-width: 1920px;
  text-align: center;
}

.container {
  height: 100vh;
  width: 100%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-flow: row wrap;
}

.sidebar-container {
  flex: 2;
  min-width:300px;
  max-width:100%;
  max-height:100%;
  background-image: url("resources/moon.jpg");
  background-size:cover;
  background-position: center; 
  flex-grow:2;
}

.sidebar-banner {
  height: 5em;
  margin-top: 20vh;
  display:flex;
  align-items: center;
  justify-content: center;
  background: rgb(0,0,0,0.3);
}

.sidebar-image {
  max-width: 100%;
  max-height: 100%;
}

.sidebar-text {
  color: white;
}

.content-container {
  float: right;
  flex: 3;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.content-container > div {
  padding:4vw;
}

.form-container {
  background-color: rgba(256,256,256,0.1);
}

.form-header {
  position:relative;
  top: -20px;
}

form {
  width: 100%;
  display:flex;
  flex-flow: row wrap;
  gap: 20px;
}

.input-container {
  display: flex;
  font-size: 14px;
  flex-direction: column;
  width: 40%;
  min-width:47%;
  flex-grow:1;
}

@media only screen and (max-width: 700px) {
  /* For mobile phones: */
  .input-container {
    width: 90%;
  }
}

input {
  height: 20px;
}
